section {
    font-family: MyFont;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rebeccapurple; */
}
h1 {
    font-size: 50px;
}
.image {
    width: clamp(280px, 27.083333333333332vw, 521px);
    height: auto;
    border-radius: 10px;
}
p {
    font-size: 30px;
}

@media screen and (max-width: 1016px) {
    h1 {
        font-size: clamp(35px, 2.4479166666666665vw, 48px);
        width: 330px;
        text-align: center;
        /* background-color: blueviolet; */
    }
    p {
        font-size: clamp(27px,  1.5625vw, 31px);
        width: 330px;
        text-align: center;
        /* background-color: blueviolet; */
    }
}