<section class="gsap1">
    <div class="form">
        <div class="imageDiv">
            <img src="./assets/loginPage.png" alt="image">
        </div>
        <div class="formDiv">
            <form>
                <div class="inForm">
                    <h1 for="">Member login</h1>
                </div>
                <div class="form-group">
                    <fa-icon class="form-control" [icon]="envelope"></fa-icon>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <fa-icon class="form-control"  [icon]="lock"></fa-icon>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</section>