<section>
    <div class="outerIcons">
        <div class="borderTop"></div>
        <div class="icons">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100010717685594">
                <i class="fa fa-facebook"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/luka_kirvalidze1/">
                <i class="fa fa-instagram"></i>
            </a>
            <a target="_blank" href="https://github.com/luka-kirvalidze">
                <i class="fa fa-github"></i>
            </a>
            <a target="_blank" href="https://x.com/Lukakirvalidze_">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
        <div id="botTOp" class="borderTop"></div>
    </div>
    <div class="outerCopyright">
        <img src="./assets/logo.png" alt="logo" class="logo">
        <h6>Copyright  <i class="fa fa-copyright"></i>  2024 DriveJoy, Inc.</h6>
    </div>
</section>