<section>
    <h5>How It Works?</h5>
    <h1>Rent With 3 Easy Steps:</h1>
    <div id="main">
        <div class="div1">
            <fa-icon [icon]="locationIcon"></fa-icon>
            <h1 class="icH1">Choose A Location.</h1>
        </div>
        <div class="div2">
            <fa-icon [icon]="carIcon" ></fa-icon>
            <h1 class="icH1">Choose A Car.</h1>
        </div>
        <div class="div3">
            <fa-icon [icon]="calendarIcon" ></fa-icon>
            <h1 class="icH1">Book A Car.</h1>
        </div>
    </div>
</section>