@font-face {
    font-family: MyFont;
    src: url(./assets/fonts/Rubik-Regular.ttf) format("truetype");
}
@font-face {
    font-family: MyFont2;
    src: url(./assets/fonts/BebasNeue-Regular.ttf) format("truetype");
}
@font-face {
    font-family: MyFont3;
    src: url(./assets/fonts/silkscreen/Silkscreen-Regular.ttf) format("truetype");
}