<section>
    <h1>Let's Talk With Our Awesome Team.</h1>
    <div class="outer">
        <div class="outIN">
            <fa-icon [icon]="phoneIcon"></fa-icon>
            <div class="inner">
                <h3>Call</h3>
                <p>+995 592-14-08-14</p>
            </div>
        </div>
        <div class="outIN">
            <fa-icon [icon]="emailIcon"></fa-icon>
            <div class="inner">
                <h3>Email</h3>
                <p>lukakirvalidze133&#64;gmail.com</p>
            </div>
        </div>
        <div class="outIN">
            <fa-icon [icon]="locationIcon"></fa-icon>
            <div class="inner">
                <h3>Main Dealer</h3>
                <p>Telavi,Kakheti,Georgia</p>
            </div>
        </div>
    </div>
</section>